.creux  {
    margin-left:10%; 
    width:90%; padding:10px; 
    box-shadow:
            0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
            0px 2px 2px 0px rgba(255, 255, 255, 0.5)
}
.creux a {
    color:#999999;
}
.creux a:hover{
    font-size: 24px;
    color: darkolivegreen
}

.creux hr  {
     
    width:90%;
    height: 5px;
    background-color: whitesmoke;
    box-shadow:
            0px 2px 2px 0px rgba(0, 0, 0, 0.5) inset,
            0px 2px 2px 0px rgba(255, 255, 255, 0.5)
}